#books-favourites--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.books-favourites--card {
    padding: 10px;
    text-align: center;
}

.books-favourites--card:not(:last-child) {
    margin-bottom: 10px;
}

.books-favourites--card-item {
    cursor: pointer;
}